<div id="{{ game.id }}">
  <form class="well form-vertical" autocomplete="off" action="{{ url_for('update_game') }}" method=POST>
  <a href="/delete/game/{{ game.id }}" id='game-delete' class="btn btn-danger pull-right">Delete Game</a>
  <label><h4>Edit Game</h4></label>
    <input type="hidden" name="lead_id" class="span3" value="{{ lead.id }}">
    <input type="hidden" name="game_id" class="span3" value="{{ game.id }}">
    <br>
    <input type="text" name="name" class="span3" value="{{ game.name }}"><span class="help-inline muted">Name</span>
    <br>
    <select name="statuses" data-placeholder="Select Some Statuses" class="chzn-select">
      {% for status in attributes.get('statuses') %}
      <option value="{{ status.name }}" {% if game.statuses %}{% if status in game.statuses %}selected='selected'{% endif %}{% endif %}>{{ status.name }}</option>
      {% endfor %}
    </select><span class="help-inline muted">Status</span>
    <br>
    <input type="text" name="ratings" class="span3" value="{{ game.ratings }}"><span class="help-inline muted">Ratings</span>
    <br>
    <select name="ages" data-placeholder="Select Some Ages" multiple="multiple" class="chzn-select">
      {% for age in attributes.get('ages') %}
      <option value="{{ age.name }}" {% if game.ages %}{% if age in game.ages %}selected='selected'{% endif %}{% endif %}>{{ age.name }}</option>
      {% endfor %}
    </select><span class="help-inline muted">Age</span>
    <br>
    <select name="genders" data-placeholder="Select Some Genders" multiple="multiple" class="chzn-select">
      {% for gender in attributes.get('genders') %}
      <option value="{{ gender.name }}" {% if game.genders %}{% if gender in game.genders %}selected='selected'{% endif %}{% endif %}>{{ gender.name }}</option>
      {% endfor %}
    </select><span class="help-inline muted">Gender</span>
    <br>
    <select data-placeholder="Select a Platform..." name="platform" class="chzn-select">
        {% for opt in ["iOS", "Android", "Web"] %}
        <option value="{{ opt }}" {% if game.platform == opt %}selected='selected'{% endif %}>{{ opt }}</option>
        {% endfor %}
    </select><span class="help-inline muted">What platform are they on?</span>
    <br>
    <button type="submit" class="btn btn-primary">Send Changes</button>
    <a href="/lead/{{ lead.id }}" class="btn">Cancel</a>
  </form>
</div>