{% extends "layout.html" %}
{% block title %}Browse Games{% endblock %}
{% block content %}
      <form class="well form-vertical" autocomplete="off" action="{{ url_for('browse') }}" method=GET>
      <label><h4>Filter Games</h4></label>
        <select name="ages" data-placeholder="Select Some Ages" multiple="multiple" class="chzn-select">
          {% for age in attributes.get('ages') %}
          <option value="{{ age.name }}" {% if args %}{% if age.name in args.getlist('ages') %}selected='selected'{% endif %}{% endif %}>{{ age.name }}</option>
          {% endfor %}
        </select><span class="help-inline muted">Age</span>
        <br><br>
        <select name="genders" data-placeholder="Select Some Genders" multiple="multiple" class="chzn-select">
          {% for gender in attributes.get('genders') %}
          <option value="{{ gender.name }}" {% if args %}{% if gender.name in args.getlist('genders') %}selected='selected'{% endif %}{% endif %}>{{ gender.name }}</option>
          {% endfor %}
        </select><span class="help-inline muted">Gender</span>
        <br><br>
        <select name="statuses" data-placeholder="Select Some Statuses" multiple="multiple" class="chzn-select">
          {% for status in attributes.get('statuses') %}
          <option value="{{ status.name }}" {% if args %}{% if status.name in args.getlist('statuses') %}selected='selected'{% endif %}{% endif %}>{{ status.name }}</option>
          {% endfor %}
        </select><span class="help-inline muted">Status</span>
        <br><br>
        <button type="submit" class="btn btn-primary">Search the Beagle</button>
    </form>
{% if games %}
<div class="row">
  <div class="games span12">
    <div class="page-header">
    <h1>Games</h1>
    </div>
<table id="games" class="tablesorter table table-striped table-bordered table-condensed">
  <thead>
        <tr>
          <th class="blue">Game</th>
          <th class="blue">DAU</th>
          <th class="blue">Age</th>
          <th class="blue">Gender</th>
          <th class="blue">Status</th>
          <th class="blue">Lead</th>
          <th class="blue">Owner</th>
          <th class="blue">Integration Date</th>
        </tr>
  </thead>
  <tbody>
  {% for game in games %}
          <tr>
            <td><a href="/lead/{{ game.lead_id }}">{{ game.name }}</a></td>
            <td>{{ game.dau }}</td>
            <td>{% for age in game.ages %}{{ age.name }} {% endfor %}</td>
            <td>{% for gender in game.genders %}{{ gender.name }} {% endfor %}</td>
            <td><span class="label label-info">{% for status in game.statuses %}{{ status.name }}</span> {% endfor %}</td>
            <td><a href="/lead/{{ game.lead_id }}">{{ game.lead.developer }}</a></td>
            <td><a href="/user/{{ game.lead.user.id }}">{{ game.lead.user.name }}</a></td>
            <td>{{ game.int_date }}</td>
          </tr>
  {% endfor %}
  </tbody>
  </table>
  </div>
</div>
{% endif %}
{% endblock %}
