{% extends "layout.html" %}
{% block title %}{{ lead.developer }}{% endblock %}
{% block content %}
<div class="row">
  <div class="leads span12">
      <form class="well form-vertical" autocomplete="off" action="{{ url_for('update_lead') }}" method=POST>
      <a href="/delete/lead/{{ lead.id }}" id='lead-delete' class="btn btn-danger pull-right">Delete Lead</a>
      <label><h4>Edit Lead</h4></label>
        <input type="hidden" name="lead_id" class="span3" value="{{ lead.id }}">
        <input type="text" name="developer" class="span3" value="{{ lead.developer }}"><span class="help-inline muted">Developer</span>
        <br>
        <input type="text" name="website" class="span3" value="{{ lead.website }}"><span class="help-inline muted">Website</span>
        <br>
        <select name="user_id">
          <option value="{{ user.id }}">{{ user.name }}</option>
        {% for user in users %}
          <option value="{{ user.id }}">{{ user.name }}</option>
        {% endfor %}
        </select><span class="help-inline muted">Lead Owner</span>
        <br>
        <textarea rows="6" name="note" class="span6">{{ lead.note }}</textarea><span class="help-inline muted">Notes for the lead</span>
        <br>
        <button type="submit" class="btn btn-primary">Send Changes</button>
        <a href="/lead/{{ lead.id }}" class="btn">Cancel</a>
      </form>
  </div>
</div>
<div class="row">
  <div class="games span12">
    <div class="page-header">
    <h1>Games</h1>
    </div>
    {% for game in lead.games %}
    <div id="{{ game.id }}">
      <form class="well form-vertical" autocomplete="off" action="{{ url_for('update_game') }}" method=POST>
      <a href="/delete/game/{{ game.id }}" id='game-delete' class="btn btn-danger pull-right">Delete Game</a>
      <label><h4>Edit Game</h4></label>
        <input type="hidden" name="lead_id" class="span3" value="{{ lead.id }}">
        <input type="hidden" name="game_id" class="span3" value="{{ game.id }}">
        <br>
        <input type="text" name="name" class="span3" value="{{ game.name }}"><span class="help-inline muted">Name</span>
        <br>
        <select name="status" value="{{ game.status }}">
          {% for opt in ["Initial Discussion", "Delayed Integration", "Integrating", "Testing", "Live", "Dormant"] %}
          <option value="{{ opt }}" {% if game.status == opt %}selected='selected'{% endif %}>{{ opt }}</option>
          {% endfor %}
        </select><span class="help-inline muted">Status</span>
        <br>
        <input type="text" name="ratings" class="span3" value="{{ game.ratings }}"><span class="help-inline muted">Ratings</span>
        <br>
        <select name="age" value={{ game.age }}>
          {% for opt in ["13-20", "22-35", "26-34", "35-55", "55+"] %}
          <option value="{{ opt }}" {% if game.age == opt %}selected='selected'{% endif %}>{{ opt }}</option>
          {% endfor %}
        </select><span class="help-inline muted">Age</span>
        <br>
        <select name="gender" value="{{ game.gender }}">
          {% for opt in ["Male", "Female"] %}
          <option value="{{ opt }}" {% if game.gender == opt %}selected='selected'{% endif %}>{{ opt }}</option>
          {% endfor %}
        </select><span class="help-inline muted">Gender</span>
        <br>
        <select data-placeholder="Select a Platform..." name="platform">
            {% for opt in ["iOS", "Android", "Web"] %}
            <option value="{{ opt }}" {% if game.platform == opt %}selected='selected'{% endif %}>{{ opt }}</option>
            {% endfor %}
        </select><span class="help-inline muted">What platform are they on?</span>
        <br>
        <button type="submit" class="btn btn-primary">Send Changes</button>
        <a href="/lead/{{ lead.id }}" class="btn">Cancel</a>
      </form>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}