{% extends "layout.html" %}
{% block title %}{{ lead.developer }}{% endblock %}
{% block content %}
<div class="row">
  <div class="leads span12">
  {% include 'includes/leadformedit.html' %}
  </div>
</div>
<div class="row">
  <div class="games span12">
    <div class="page-header">
    <h1>Games</h1>
    </div>
    {% for game in lead.games %}
    {% include 'includes/gameformedit.html' %}
    {% endfor %}
</div>
</div>
<div class="row">
  <div class="games span12">
    <div class="page-header">
    <h1>Contacts</h1>
    </div>
    {% for contact in lead.contacts %}
    {% include 'includes/contactformedit.html' %}
    {% endfor %}
  </div>
</div>
{% endblock %}
