<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Beagle</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.7.min.js"></script>
    <script src="/static/bootstrap-alerts.js"></script>
    <script src="/static/bootstrap-dropdown.js"></script>
    <script src="/static/bootstrap-tabs.js"></script>
    <script src="/static/jquery.tablesorter.min.js"></script>
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    <script >
    $(function() {
      $("table#leads").tablesorter({ sortList: [[1,0]] });
    });
    </script>
  </head>
  <body>
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <a class="brand" href="#">Beagle</a>
          <ul class="nav">
            <form class="pull-left" action="/search" method="get">
              <input type="text" name="query" placeholder="Game, Developer or Email">
            </form>
          </ul>
          <ul class="nav secondary-nav">
            <li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="dropdown-toggle">Settings</a>
              <ul class="dropdown-menu">
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
    <div class="row">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes span12 offset2">
        {% for category, message in messages %}
          <div class="alert-message fade in {{ category }}" data-alert="alert">
             <a class="close" href="#">×</a>
             <p>{{ message }}</p>
          </div>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    </div>
    </div>
    <div class="container">
      <footer>
        <p>May the Beagle be with you.</p>
      </footer>
    </div>
  </body>
</html>