<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Beagle | {% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/custom.css" />
    <link rel="stylesheet" href="/static/css/chosen.css" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/chosen.jquery.min.js"></script>
    <script src="/static/bootstrap-alerts.js"></script>
    <script src="/static/bootstrap-dropdown.js"></script>
    <script src="/static/bootstrap-tabs.js"></script>
    <script src="/static/jquery.tablesorter.min.js"></script>
    <script>
    $(document).ready(function()
        {
            $("table").tablesorter({textExtraction: 'complex'});
            $("#lead-delete").click(function(event){alert("Are you sure you want to delete this Lead? It will also delete all games and contacts!");});
            $("#game-delete").click(function(event){alert("Are you sure you want to delete this Game?");});
            $(".chzn-select").chosen();
        }
    );
    </script>
  </head>
  <body>
  {% block nav %}
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Beagle</a>
          <ul class="nav">
            <form class="navbar-search pull-left" action="{{ url_for('search') }}" method="get">
              <input type="text" class="search-query" name="query" placeholder="Game, Developer or Contact Data">
            </form>
            <li><a href="/new/lead">New Lead</a></li>
            <li><a href="/user/{{ session['user'] }}">My Leads</a></li>
            <li><a href="/browse">Browse</a></li>
          </ul>
          <ul class="nav pull-right">
            <li>
              <a href="{{ url_for('logout') }}">Log-out</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endblock %}
    {% block flashes %}
    <div class="container">
      <div class="row">
    {% autoescape false %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
          <div class="alert fade in {{ category }}">
             <a class="close" data-dismiss="alert" href="#">&times;</a>
             {{ message }}
          </div>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% endautoescape %}
    </div>
    </div>
    {% endblock %}
    <div class="container">
      <div class="row">
    {% block content %}
    {% endblock %}
      </div>
    </div>
  </body>
</html>
