{% extends "layout.html" %}
{% block title %}{{ lead.developer }}{% endblock %}
{% block content %}
<div class="row">
  <div class="about span8">
    <h1 class="muted"><a href="http://ax.search.itunes.apple.com/WebObjects/MZSearch.woa/wa/search?entity=software&amp;media=all&amp;restrict=true&amp;submit=seeAllLockups&amp;term={{ lead.developer }}">{{ lead.developer }}</a></h1>
    <h6>Website: <strong><a href="http://{{ lead.website }}">{{ lead.website }}</a></strong></h6>
    <h6>Notes:</h6>
    <p>{{ lead.note }}</p>
  </div>
  <div class="quickstats span4 pull-right">
    {% if lead in user.leads %}
    <a class="btn pull-right" href="/lead/{{ lead.id }}/edit">Edit</a>
    {% endif %}
    <h4>Owned by <a href="/user/{{ user.id }}">{{ user.name }}</a></h4>
    <h6>Created on {{ lead.created }}</h6>
    <h6>Last Modified {{ lead.modified }}</h6>
  </div>
</div>
<div class="row">
  <div class="games span12">
    <div class="page-header">
    <h1>Game Titles</h1>
    </div>
    {% for game in lead.games %}
    <div id="{{ game.id }}">
      <h3><a href="http://ax.search.itunes.apple.com/WebObjects/MZSearch.woa/wa/search?entity=software&amp;media=all&amp;restrict=true&amp;submit=seeAllLockups&amp;term={{ game.name }}">{{ game.name }}</a></h3>
      {% for attribute in game.attributes %}
      <h4><span class="muted">Genders:</span> <strong>{% for gender in attribute.genders %} {{ gender.name }} {% endfor %}</strong></h4>
      <h4><span class="muted">Ages:</span> <strong>{% for age in attribute.ages %} {{ age.name }} {% endfor %}</strong></h4>
      <h4><span class="muted">Status:</span> <span class="label label-success">{% for status in attribute.statuses %} {{ status.name }} {% endfor %}</span></h4>
      {% endfor %}
      <h4><span class="muted">Platform:</span> <strong>{{ game.platform }}</strong></h4>
      <h4><span class="muted">DAU:</span> <strong>{{ game.dau }}</strong></h4>
      <h4><span class="muted">Ratings:</span> <strong>{{ game.ratings }}</strong></h4>
      <br>
    </div>
    {% endfor %}
  </div>
</div>
<div class="row">
  <div class="add span12">
    <button class="btn-success btn" data-toggle="collapse" data-target="#add-game">Add Game</button>
    <div id="add-game" class="collapse">
    <br>
    {% include 'includes/gameform.html' %}
    </div>
  </div>
</div>
<div class="row">
  <div class="games span12">
    <div class="page-header">
    <h2>Contacts</h2>
    </div>
    {% for contact in lead.contacts %}
    <div id="{{ contact.id }}">
      <h3>{{ contact.name }}</h3>
      <h4><span class="muted">Phone: </span><strong>{{ contact.phone }}</strong></span></h4>
      <h4><span class="muted">Email: </span><strong><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></strong></span></h4>
      <h4><span class="muted">Title: </span><strong>{{ contact.title }}</strong></h4>
    </div>
    <br>
    {% endfor %}
  </div>
</div>
<div class="row">
  <div class="add span12">
    <button class="btn-success btn" data-toggle="collapse" data-target="#add-contact">Add Contact</button>
    <div id="add-contact" class="collapse">
    <br>
    {% include 'includes/contactform.html' %}
    </div>
  </div>
</div>
{% endblock %}