{% extends "layout.html" %}
{% block title %}{{ lead.developer }}{% endblock %}
{% block content %}
<table id="leads" class="table table-bordered table-condensed">
  <tbody>
        <tr>
          <td><a href="/lead/{{ lead.ident }}">{{ lead.developer }}</a></td>
          <td>{{ lead.games }}</td>
          <td>{{ lead.name }}</td>
          <td><a href="mailto:{{ lead.email }}">{{ lead.email }}</a></td>
          <td><a href="/owner?name={{ lead.owner }}">{{ lead.owner }}</a></td>
        </tr>
  </tbody>
</table>
{% endblock %}