{% extends "layout.html" %}
{% block title %}Add a Lead{% endblock %}
{% block content %}
      <form class="well form-vertical" autocomplete="off" action="{{ url_for('add') }}" method=POST>
      <label><h4>Add a new Lead</h4></label>
        <input type="text" name="developer" class="span3" placeholder="En Masse LLC"><span class="help-inline muted">Developer</span>
        <br>
        <input type="text" name="games" class="span3" placeholder="7x7, KiipSake"><span class="help-inline muted">Name of the games, comma separated.</span>
        <br>
        <input type="email" name="email" class="span3" placeholder="jack@kiip.me"><span class="help-inline muted">Email Address</span>
        <br>
        <input type="text" name="name" class="span3" placeholder="Jack Pearkes"><span class="help-inline muted">Human Name</span>
        <br>
        <select data-placeholder="Select a status..." name="status">
          <option value="Inital Discussion">Inital Discussion</option> 
          <option value="Delayed Integration">Delayed Integration</option> 
          <option value="Integrating">Integrating</option> 
          <option value="Testing">Testing</option> 
          <option value="Live">Live</option> 
          <option value="Dormant">Dormant</option> 
        </select><span class="help-inline muted">Where are they at?</span>
        <br>
        <input type="text" name="ratings" class="span3" placeholder="1500"><span class="help-inline muted">Number of Ratings</span>
        <br>
        <select data-placeholder="Select an age range..." name="age">
          <option value="13-20">Inital Discussion</option> 
          <option value="Delayed Integration">Delayed Integration</option> 
          <option value="Integrating">Integrating</option> 
          <option value="Testing">Testing</option> 
          <option value="Live">Live</option> 
          <option value="Dormant">Dormant</option> 
        </select><span class="help-inline muted">Age range</span>
        <br>
        <input type="text" name="gender" class="span3" placeholder="Female"><span class="help-inline muted">Majority gender of players</span>
        <br>
        <button type="submit" class="btn">Submit</button>
      </form>
{% endblock %}