{% extends "layout.html" %}
{% block title %}Add a Lead{% endblock %}
{% block content %}
      <form class="well form-vertical" autocomplete="off" action="{{ url_for('add_lead') }}" method=POST>
      <label><h4>Add a new Lead</h4></label>
        <input type="text" name="developer" class="span3" placeholder="En Masse LLC"><span class="help-inline muted">Developer</span>
        <br>
        <input type="email" name="email" class="span3" placeholder="jack@kiip.me"><span class="help-inline muted">Email Address</span>
        <br>
        <input type="text" name="name" class="span3" placeholder="Jack Pearkes"><span class="help-inline muted">Human Name</span>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/" class="btn">Cancel</a>
      </form>
{% endblock %}