{% extends "layout.html" %}
{% block title %}Results{% endblock %}
{% block content %}
<div class="row">
  <div class="games span12">
    <div class="page-header">
    <h1>Leads</h1>
    </div>
<table id="leads" class="tablesorter table table-striped table-bordered table-condensed">
  <thead>
        <tr>
          <th class="blue">Developer</th>
          <th class="blue">Games</th>
          <th class="blue">#</th>
          <th class="blue">Contacts</th>
          <th class="blue">Owner</th>
        </tr>
  </thead>
    <tbody>
  {% for lead in leads %}
          <tr>
            <td><a href="/lead/{{ lead.id }}">{{ lead.developer }}</a></td>
            <td>{% for game in lead.games %}<a href="/lead/{{ game.lead_id }}#{{ game.id }}">{{ game.name }}</a> {% endfor %}</td>
            <td>{{ lead.games|length }}</td>
            <td>{% for contact in lead.contacts %}<a href="lead/{{ contact.lead_id }}#{{ contact.id }}">{{ contact.name }}</a> {% endfor %}</td>
            <td><a href="/user/{{ lead.user.id }}">{{ lead.user.name }}</a></td>
          </tr>
  {% endfor %}
    </tbody>
  </table>
  </div>
</div>
<div class="row">
  <div class="games span12">
    <div class="page-header">
    <h1>Games</h1>
    </div>
<table id="games" class="tablesorter table table-striped table-bordered table-condensed">
  <thead>
        <tr>
          <th class="blue">Game</th>
          <th class="blue">Lead</th>
          <th class="blue">DAU</th>
          <th class="blue">Age</th>
          <th class="blue">Gender</th>
          <th class="blue">Status</th>
        </tr>
  </thead>
    <tbody>
    {% for game in games %}
          <tr>
            <td><a href="/lead/{{ game.lead_id }}">{{ game.name }}</a></td>
            <td><a href"/lead/{{ game.lead_id }}">{{ game.lead.developer }}</a></td>
            <td>{{ game.dau }}</td>
            <td>{{ game.age }}</td>
            <td>{{ game.gender }}</td>
            <td><span class="label label-success">{{ game.status }}</span></td>
          </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
</div>
<div class="row">
  <div class="contacts span12">
    <div class="page-header">
    <h1>Contacts</h1>
    </div>
<table id="contacts" class="tablesorter table table-striped table-bordered table-condensed">
  <thead>
        <tr>
          <th class="blue">Name</th>
          <th class="blue">Lead</th>
          <th class="blue">Title</th>
          <th class="blue">Email</th>
          <th class="blue">Phone</th>
        </tr>
  </thead>
    <tbody>
    {% for contact in contacts %}
          <tr>
            <td>{{ contact.name }}</td>
            <td><a href="/lead/{{ contact.lead_id }}">{{ contact.lead.developer }}</a></td>
            <td>{{ contact.title }}</td>
            <td><a href="{{ contact.email }}">{{ contact.email }}</a></td>
            <td>{{ contact.phone }}</td>
          </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endblock %}